*{
	
	/* Keyword values */
box-sizing: border-box;

}
@font-face { 
	font-family: "Lato-Black";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Lato-Black"),
	url("../fonts/Lato-Black.woff") format("woff"); 	
}
@font-face{
	font-family:"Lato-Heavy";
	font-weight:normal;
	font-style:normal;
	src:local("Lato-Heavy");
	url:("../fonts/Lato-Heavy.woff") format ("woff");
}
@font-face{
	font-family:"Lato-Light";
	font-weight:normal;
	font-style:normal;
	src:local("Lato-Light");
	url:("..fonts/Lato-Light.woff") format ("woff");
}




@font-face { 
	font-family: "Raleway-ExtraBold";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-ExtraBold"),
	url("../fonts/Raleway-ExtraBold.woff") format("woff"); 	
}
@font-face { 
	font-family: "Raleway-ExtraLight";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-ExtraLight"),
	url("../fonts/Raleway-ExtraLight.woff") format("woff"); 	
}
@font-face { 
	font-family: "Raleway-Light";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-Light"),
	url("../fonts/Raleway-Light.woff") format("woff"); 	
}
font-face { 
	font-family: "Raleway-Bold";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-Bold"),
	url("../fonts/Raleway-Bold.woff") format("woff"); 	
}
font-face { 
	font-family: "Raleway-Medium";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-Medium"),
	url("../fonts/Raleway-Medium.woff") format("woff"); 	
}


@font-face { 
	font-family: "Raleway-Regular";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-Regular"),
	url("../fonts/Raleway-Regular.woff") format("woff"); 	
}


font-face { 
	font-family: "Raleway-SemiBold";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-SemiBold"),
	url("../fonts/Raleway-SemiBold.woff") format("woff"); 	
}

@font-face { 
	font-family: "Raleway-SemiBold";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-SemiBold"),
	url("../fonts/Raleway-SemiBold.woff") format("woff"); 	
}

font-face { 
	font-family: "Raleway-Thin";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-Thin"),
	url("../fonts/Raleway-Thin.woff") format("woff"); 	
}
@font-face { 
	font-family: "Raleway-Black";   
	font-style: normal;  
	font-weight: normal; 
	src: local("Raleway-Black"),
	url("../fonts/Raleway-Black.woff") format("woff"); 	
}
body{
	margin:0px;
	padding:0px;
	font-family: "Raleway-SemiBold";
	font-size:14px;
}

a{
	text-decoration:none;
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
		font-family: "Raleway-SemiBold";
	
	}


input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"]{width:100%; height:72px; padding:0 15px; border-radius:10px; border:2px solid #dfdfdf; font-size:18px; color:#d2d2d2;}
textarea{width:100%; height:168px; padding:10px 15px; border-radius:10px; border:2px solid #dfdfdf; color:#d2d2d2; font-size:18px; font-family:Raleway;}
input[type="submit"]{width:263px; height:65px; text-align:center; background-color:#f74928; border:none; font-size:22px; color:#ffffff; text-transform:uppercase; border-radius:10px; font-weight:bold; font-family:"Raleway-Black"; cursor:pointer; }
#header{
	width:100%;
	float:left;
	background-color:#161417;
	padding:45px 0;
}
.container{
	width:1170px;
	margin:auto;
}
.logo{
	width:253px;
	float:left;	
}

#header nav{
	float:right;
	margin-top:20px;
}
#header nav ul {margin:0;padding:0}

#header nav ul li{float:left;margin:0 15px; list-style:none;}
#header nav ul li:last-child{margin-right:0px;}


#header nav ul li a{	
	font-size:16px;
	color:#d5d5d5;
	font-weight:700;
	float:left;
}
#slider{
	width:100%;
	float:left;
	position:relative;
	
}
#slider img{
	width:100%;
}
.caption{
	position:absolute;
	top:0;
	width:100%;
	display: flex;
	flex-direction:column; 
	align-items: center;
	justify-content: center;
	height:100%;
	background:rgba(0,0,0,0.46)
}
.slider_text{
	width:100%;
	text-align:center;
	float:left;
}
.slider_text h3{
	font-size:120px;
	color:#ffffff;
	text-transform:uppercase;
	font-family: "Lato-Black";
}
.slider_text h6{
	font-size:24px;
	color:#ffffff;
	text-transform:uppercase;
	margin-top:15px;
	line-height:38px;
	font-family:"Lato-Light";
}
.get_started{
	width:100%;
	text-align:center;
	float:left;
	margin-top:60px;
}
.get_started a{
	background-color:#eb3512;
	padding:20px 60px;
	font-size:22px;
	font-family: "Raleway-Black"; 
	border-top:2px solid#fff;
	color:#ffffff;
	border-radius:10px;
	text-transform:uppercase;
	cursor:pointer;
}

#services{
	width:100%;
	float:left;
	padding:70px 0px;
}
.services_text{
	width:100%;
	float:left;
}
.services_text h3{
	font-size:36px;
	text-align:center;
	color:#828282;
	width:100%;
	font-weight:600;
	font-family:"Raleway-SemiBold";
}
.services_text h4{
	font-size:109px;
	color:#2e2e2e;
	font-family:"Raleway-Black"; 
	text-align:center;
	width:100%;
}
.services_icons{
	width:100%;
	float:left;
	margin-top:125px;
}
.services_part_1{
	width:33.33%;
	float:left;
	text-align:center;
}
.services_part_1 img{
	
}
.services_part_1 h3{
	font-size:22px;
	color:#828282;
	line-height:29px;
	margin-top:50px;
	text-align:center;
	width:100%;
	font-family:"Raleway-Regular";
}
.services_part_2{
	width:370px;
	float:left;
}
.services_part_2 img{
	margin-left:125px;
}
.services_part_2 h3{
	font-size:22px;
	color:#828282;
	font-family:"Raleway-Regular";
	text-align:center;
	width:100%;
}
.services_part_3{
	width:370px;
	float:left;
}
.services_part_3 img{
	margin-left:125px;
}
.services_part_3 h3{
	font-size:22px;
	color:#828282;
	font-family:"Raleway-Regular";
	text-align:center;
	width:100%;
}
.caption_2{
	position:absolute;
	top:0;
	width:100%;
	display: flex;
	flex-direction:column; 
	align-items: center;
	justify-content: center;
	height:99%;
	background:rgba(0,0,0,0.60)
}
#newsletter{
	width:100%;
	float:left;
	position:relative;
	margin-top:100px;
}
#newsletter img{width:100%;
}
.newsletter_text{
	width:100%;
	text-align:center;
}
.newsletter_text h4{
	text-align:center;
	font-size:49px;
	color:#ffffff;
	font-family:"Raleway-Black";
	text-transform:uppercase;
}
.newsletter_text p{
	font-size:26px;
	color:#ffffff;
	text-align:center;
	line-height:42px;
	font-family: "Raleway-Regular";
}
.bigger{
	font-size:93px;
}
#contact_us{
	width:100%;
	float:left;
}
.phone{
	width:100%;
	float:left;
	margin-top:100px;
}
.phone h3{
	margin-top:20px;
	text-align:center;
}
.phone h3 a{
	font-size:58px;
	color:#000000;
	font-family: "Raleway-Black";
}

.phone h3 img{
	padding-right:25px;
	position:relative;
	top:15px;
}
.phone h6{
	color:#989898;
	font-size:24px;
	text-align:center;
	font-family: "Raleway-Regular"; 
	font-weight:normal;
	margin-top:15px;
}
.form{
	width:70%;
	margin-left:15%;
	float:left;
	margin-top:25px;
}
.form_1{
	width:50%;
	float:left;
	padding:15px;
}
.form_2{
	width:100%;
	float:left;
	padding:15px;
}
.button{
	width:100%;
	float:left;
	text-align:center;
	margin-top:50px;
}

.footer{
	width:100%;
	float:left;
	background-color:#161417;
	margin-top:95px;
	padding-bottom:40px;
}
.footer_logo{
	text-align:center;
	margin-top:85px;
}
.footer_nav{
	text-align:center;
	margin-top:60px;
}
.footer_nav ul {margin:0;padding:0}

.footer_nav ul li{
list-style:none;display:inline-block;
}

.footer_nav ul li a{	
	font-size:16px;
	color:#fff;
	padding-left:15px;
	padding-right:15px;
	font-weight:700;
}
.social{
	text-align:center;
	margin-top:50px;
}
.social ul{
	margin:0px;
	padding:0px;
}
.social ul li{
	list-style:none; 
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
}
.social ul li a{
	border-radius:100%;
	float:left;
	width:65px;
	height:65px;
	border:2px solid rgba(255,255,255,0.17);
	font-size:20px;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social ul li a i{
	font-size:20px;
	
}
.social ul li a img{
	margin-top:18px;
}
.copyright{
	width:100%;
	float:left;
}
.copyright h6{
	font-size:14px;
	font-family: "Raleway-Light"; 
	text-transform:uppercase;
	color:#989898;
	font-weight:normal;
	text-align:center;
	margin-top:60px;
}


/*==========responsive===========*/
@media screen and (max-width:1199px){
.container{width:970px;}
.logo img{ position:relative;}
#header{padding:25px 0px;}
#header nav{margin-top:13px;}
#header nav ul li a{font-size:14px;}
.slider_text h3{font-size:105px;}
.slider_text h6{font-size:22px;}
.services_text h4{font-size:100px;}
.services_text h3{margin-top:43px;}
.services_icons{margin-top:90px;}
#newsletter h4{font-size:40px;}
#newsletter p{font-size:22px;}
.phone h3 a{font-size:50px;}
.phone h6{font-size:20px;}
#newsletter{margin-top:43px;}
.phone{margin-top:43px;}
.footer{margin-top:43px;}
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"]{height:60px;}
input[type="submit"]{width:217px;height:60px;font-size:20px;}
.services_part_1 h3{font-size:19px; margin-top:25px;}
.get_started a{padding:20px 35px}
.services_part_1 img{height:90px;}
.bigger{font-size:70px;}
}

@media screen and (max-width:1023px){
.container{width:750px;}
.logo img{width:80%;}
#header nav{margin-top:7px;}
.slider_text h3{font-size:75px;}
.slider_text h6{font-size:19px;}
.get_started{margin-top:35px;}
.get_started a{padding:18px 33px}
.services_part_1 h3{line-height:24px;}
.services_icons{margin-top:45px;}
#newsletter h4{font-size:37px;}
#newsletter p{line-height:28px; font-size:19px;}
.bigger{font-size:70px;}
.services_text h3{font-size:32px;}
.services_text h4{font-size:75px; margin-top:10px;}
.services_part_1 img{height:85px;}
.services_part_1 h3{font-size:17px;}
.phone_icon img{height:55px;}
.phone h3 a{font-size:43px;}
.phone h6{font-size:19px;}
.form{margin-left:5%; width:90%;}
}
@media screen and (max-width:767px){
.container{width:100%;}
.logo img{height:60%;}
#header nav ul li{margin:0 9px;}
#header nav ul li a{font-size:13px;}
.slider_text h3{font-size:58px;}
.slider_text h6{font-size:16px;}
.get_started a{padding:14px 19px;font-size:15px;}
#services{padding:35px 0px;}
.services_text h3{font-size:26px;}
.services_text h4{font-size:60px;}
.services_part_1 img{height:60px;}
.services_part_1 h3{font-size:15px;}
#newsletter h4{font-size:30px;}
#newsletter p{font-size:16px;}
.bigger{font-size:67px;}
.phone_icon img{height:50px;}
.phone h3 a{font-size:39px;}
.phone h6{font-size:16px;}
.form_1{width:100%;}
input[type="submit"]{width:185px; height:55px;}
.button{margin-top:20px;}
.footer_nav ul li a{font-size:14px;}
}



